# --- BACKEND ---
Backend/node_modules/
Backend/src/.env
Backend/npm-debug.log*

# --- FRONTEND (Vite Project) ---
Frontend/vite-project/node_modules/
Frontend/vite-project/dist/
Frontend/vite-project/dist-ssr/
Frontend/vite-project/*.local
Frontend/vite-project/.env
Frontend/vite-project/.env.*
Frontend/vite-project/.env.example

# --- DOCKER & SISTEMA ---
.DS_Store
thumbs.db
desktop.ini
*.log
.vscode/